.resume-right-col {
  background: #27221f;
  color: white;
  padding: 2em;
}

.avatar-image {
  display: inline-block;
  position: relative;
  padding: 3.5em;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}
